{% extends 'home/layout.html' %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div id="contactInfo" class="col-md-6">
            <h2 >Contact Details</h2>
            <p>Name:  {{ contactInfo.0.name}} </p>
            <p>Address: {{ contactInfo.0.address}}</p>
            <p>Phone: {{ contactInfo.0.phone}}</p>
        </div>
        <div class="col-md-6">
            <h2>Contact us:</h2>
            <form method="post">
                {% csrf_token %}
                {{form}}<br>

             <button class="btn btn-danger" type="submit">submit</button>

            </form>

        </div>
    </div>
</div>

{% endblock %}