{% extends 'home/layout.html' %}

{% block content %}
{% for each in projects %}
    <div class="thumbnail projectPic">
        <h3 align="center">{{each.title}}</h3>
        {% if each.thumb %}
        <img   src="{{ each.thumb.url }}">
        {% endif %}
        {% if each.thumb1 %}
        <img  src="{{ each.thumb1.url }}">
        {% endif %}
        {% if each.thumb2 %}
        <img  src="{{ each.thumb2.url }}">
        {% endif %}
        {% if each.thumb3 %}
        <img src="{{ each.thumb3.url }}">
        {% endif %}
        <div><h4>Description:</h4> <p>{{ each.description }}</p></div>
    </div>
{% endfor %}

{% endblock %}