{% extends 'home/layout.html' %}

{% block content %}

<div class="jumbotron">
    <div class="row">        
        <div class="col-md-12">
            <h3>Enter your testimonial</h3>
            <form method="post" class="post-form form-group">
            {% csrf_token %}

            {{form}}<br>


            <button type="submit" class=" btn btn-danger">Save</button>

            </form>
        </div>
    </div>

</div>

{% for each in testimonials %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <p>Name: {{ each.name }}</p>
            <p>Testimonial: {{ each.testimonial }}</p>            
        </div>
    </div>
</div>
{% endfor %}








{% endblock %}