{% extends 'home/layout.html' %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2>Testimonials</h2>
            {% for each in testimonials %}
                <p>Name: {{ each.name }}</p>
                <p>Testimonial: {{ each.testimonial }}</p>
            <hr>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <form method="post" class="post-form form-group">
            {% csrf_token %}

            {{form}}<br>


            <button type="submit" class=" btn btn-danger">Save</button>

            </form>
        </div>


    </div>

</div>





{% endblock %}